

.flex-container {
    display: flex;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.section-one {
    flex-grow: 1;
    background-color: blue;
}

.section-two {
    flex-grow: 2;
    background-color: pink;
}